name: Add results to README

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - uses: gradle/gradle-build-action@v2
      - uses: joblo2213/aoc-badges-action@v3
        with:
          userid: 1595654
          session: ${{ secrets.AOC_SESSIONID }}
          starsRegex: '(?<=https:\/\/img\.shields\.io\/badge\/stars%20â­-)[0-9]+(?=-yellow)'
          daysCompletedRegex: '(?<=https:\/\/img\.shields\.io\/badge\/days%20completed-)[0-9]+(?=-red)'
      - shell: bash
        run: |
          ./gradlew build shadowJar --build-cache
          sed -i '/Solutions.*/q' README.md
          echo '```' >> README.md
          java -Xss100m -jar -DINPUT_DIR="$(realpath inputs)" solutions/build/libs/solutions-1.0-SNAPSHOT-all.jar 2023 >> README.md
          echo '```' >> README.md
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update README
          file_pattern: README.md